<ion-header>
  <ion-toolbar [ngStyle]="{'background-image': 'url('+headerImg+')'}">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid style="padding:0">
        <ion-row style="background-color: floralwhite">
          <ion-col text-center>
            <ion-icon style="color:lightgreen" name="ios-checkmark-circle"></ion-icon>
            <ion-label class="top-label">Check-in</ion-label>
          </ion-col>
          <ion-col text-center>
            <ion-icon style="color:crimson" name="calendar"></ion-icon>
            <ion-label class="top-label">Reminder</ion-label>
          </ion-col>
          <ion-col text-center>
            <ion-icon style="color:cornflowerblue" name="chatbubbles"></ion-icon>
            <ion-label class="top-label">Chat</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="background-color: burlywood">
          <ion-col>
            <ion-label class="event-title">Annual general meeting</ion-label>
            <ion-label class="event-description">some detail</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/login.png">
            </ion-avatar>
            <div>
              <ion-label class="avatar-title">Item Avatar</ion-label>
              <ion-label class="avatar-description">Item Avatar</ion-label>
            </div>
  
          </ion-item>
  
          <ion-card-content>
            lorem ipsum csadhas sac asdijas dsdisd asdlsd saijdsa dsaldijsad sadijas
            sakjdsad sdasjds dsdij
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/login.png">
              </ion-avatar>
              <div>
                <ion-label class="avatar-title">Item Avatar</ion-label>
                <ion-label class="avatar-description">Item Avatar</ion-label>
              </div>
    
            </ion-item>
    
            <ion-card-content>
              lorem ipsum csadhas sac asdijas dsdisd asdlsd saijdsa dsaldijsad sadijas
              sakjdsad sdasjds dsdij
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="assets/login.png">
                </ion-avatar>
                <div>
                  <ion-label class="avatar-title">Item Avatar</ion-label>
                  <ion-label class="avatar-description">Item Avatar</ion-label>
                </div>
      
              </ion-item>
      
              <ion-card-content>
                lorem ipsum csadhas sac asdijas dsdisd asdlsd saijdsa dsaldijsad sadijas
                sakjdsad sdasjds dsdij
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="assets/login.png">
                  </ion-avatar>
                  <div>
                    <ion-label class="avatar-title">Item Avatar</ion-label>
                    <ion-label class="avatar-description">Item Avatar</ion-label>
                  </div>
        
                </ion-item>
        
                <ion-card-content>
                  lorem ipsum csadhas sac asdijas dsdisd asdlsd saijdsa dsaldijsad sadijas
                  sakjdsad sdasjds dsdij
                </ion-card-content>
              </ion-card>
        

</ion-content>