<ion-header>
  <ion-toolbar [ngStyle]="{'background-image': 'url('+headerImg+')'}">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="padding:0">
        <ion-row style="background-color: floralwhite">
          <ion-col text-center (click)="checkIn()">
            <ion-icon [ngClass]="isCheckedIn?'checkedIn':'unCheckedIn'" name="ios-checkmark-circle"></ion-icon>
            <ion-label class="top-label">Check-in</ion-label>
          </ion-col>
          <ion-col text-center (click)="selectReminderTime()">
            <ion-icon style="color:crimson" name="calendar"></ion-icon>
            <ion-label class="top-label">Reminder</ion-label>
          </ion-col>
          <ion-col text-center (click)="checkeInUsers()">
            <ion-icon style="color:cornflowerblue" name="chatbubbles"></ion-icon>
            <ion-label class="top-label">Chat</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="background-color: burlywood">
          <ion-col>
            <ion-label class="event-title">{{eventDetail.event.event_title}}</ion-label>
            <ion-label class="event-description">{{eventDetail.event.event_description}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card *ngFor="let speaker of eventDetail.event_speaker" (click)="openSpeakerDetail(speaker.es_id)">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{speaker.es_image}}">
            </ion-avatar>
            <div>
              <ion-label class="avatar-title">{{speaker.es_first_name}} {{speaker.es_last_name}}</ion-label>
              <ion-label class="avatar-description">{{speaker.es_job_title}}</ion-label>
            </div>
  
          </ion-item>
  
          <ion-card-content>
            {{speaker.es_biodata}}
          </ion-card-content>
        </ion-card>
        

</ion-content>